<div cdkDrag [class.card-default]="true" [class.active]="isActive()" [class.inactive]="!isActive()"
    [style.z-index]="z"
    (cdkDragStarted)="dragMoveStarted($event)" (dblclick)="flipCard()" [cdkDragFreeDragPosition]="getInitPosition()"
    (cdkDragEnded)="dragMoveEnded($event)" #dragel
    >

    <div [class.card-overlay]="true" [class.active]="isActive()">

    </div>

    <img [class.card-img]="true" [class.active]="faceUp" [src]="getFrontImgSrc()">

    <img [class.card-img]="true" [class.active]="!faceUp" src="assets/cards/cardback.svg">







</div>