<div cdkDrag [class.card-default]="true" [class.active]="isActive()" [class.inactive]="!isActive()"
    [style.z-index]="data.z"
    (cdkDragStarted)="dragMoveStarted($event)" (dblclick)="flipCard()" [cdkDragFreeDragPosition]="getPosition()"
    (cdkDragEnded)="dragMoveEnded($event)" #dragel
    >

    <div [class.card-overlay]="true" [class.active]="isActive()">

    </div>

    <img [class.card-img]="true" [class.active]="data.faceUp" [src]="getFrontImgSrc()">

    <img [class.card-img]="true" [class.active]="!data.faceUp" src="assets/cards/cardback.svg">







</div>