<!-- 
   [cdkDragFreeDragPosition]="getPosition()"
   [cdkDragDisabled]="!isVisible()"   -->


<div draggable="false" (mouseup)="mouseUp($event)" (mousedown)="dragMoveStarted($event)" [class.card-default]="isVisible()"
    [class.card-hidden]="!isVisible()" [class.active]="isActive()" [class.inactive]="!isActive()"
    [style.z-index]="getZ()" [ngStyle]="getTransform()">

    <div [class.card-overlay]="true" [class.active]="isActive()">

    </div>

    <img [class.card-img]="true" [class.active]="getFaceUp()  && isVisible()" [class.card-hidden]="!isVisible()"
        [src]="getFrontImgSrc()">

    <img [class.card-img]="true" [class.active]="!getFaceUp() && isVisible()" [class.card-hidden]="!isVisible()"
        src="assets/cards/cardback.svg">

</div>