<h1>
    Test App
</h1>
<div class="pad-btn">
    <button button mat-raised-button color="primary" class="pad-btn" (click)="click_broadcast()"> Broadcast
        Message</button>
</div>

<div class="pad-btn">
    <button button mat-raised-button color="primary" class="pad-btn" (click)="click_move()"> Move Box
    </button>
</div>
<!-- <div class="pad-btn">
    <button button mat-raised-button color="warn" class="pad-btn" (click)="click_clear()"> Clear Connections</button>
</div> -->

<div class="game-container">
    <div class="example-box" (cdkDragEnded)="moved($event)" [cdkDragFreeDragPosition]="boxPosition" cdkDrag #dragel>
        Drag me around
    </div>
</div>