<h1>
    Test App
</h1>
<div class="pad-btn">
    <button button mat-raised-button color="primary" class="pad-btn" (click)="click_broadcast()"> Broadcast
        Message</button>
</div>

<div class="pad-btn">
    <button button mat-raised-button color="primary" class="pad-btn" (click)="click_move()"> Move Box
    </button>
</div>
<!-- <div class="pad-btn">
    <button button mat-raised-button color="warn" class="pad-btn" (click)="click_clear()"> Clear Connections</button>
</div> -->


<!-- [(cdkDragFreeDragPosition)]="boxPosition"  -->

<div class="game-container">
    <div class="example-box"  (cdkDragStarted)="moveStarted($event)"  (cdkDragEnded)="moveEnded($event)" cdkDrag #dragel>
    </div>
</div>