
<div draggable="false" 
(mouseup)="mouseUp($event)" 
(mousedown)="dragMoveStarted($event)" 
[style.width]="getWidth()"
[style.height]="getHeight()"
[style.position]="'absolute'"
[style.transform-origin]="'100% 0'"
[class.active]="isActive()" 
[class.inactive]="!isActive()"
[style.transform]="getTransform()"
>

<div [class.card-overlay]="true" [class.active]="isActive()">

</div>

<img [class.card-img]="true" [class.active]="getFaceUp()  && isVisible()" [class.card-hidden]="!isVisible()"
    [src]="getFrontImgSrc()">

<img [class.card-img]="true" [class.active]="!getFaceUp() && isVisible()" [class.card-hidden]="!isVisible()"
    src="assets/cards/cardback.svg">

</div>