/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header {
    width:100%;
    height:20%;
}

.game-container {
width:100%;
height: 80%;
position: relative;
}

.pad-btn{
    margin:5px;
}

.card-default {
width:75px;
height:105px;
position: absolute;
transform-origin: 100% 0;
}

.inactive.cdk-drag {
    transform-origin: 100% 0;
    transition: transform 200ms ease-in-out;
}



.card-img {
    position: absolute;
    width: 100%;
    visibility: hidden
}

.card-img.active {
    visibility: visible;
    position: absolute;
}



.card-overlay {
    position: absolute;
    width:100%;
    height:100%;
}

.card-overlay.active {
    /* z-index to put above imgs..? */
    z-index:100;
    background-color:rgba(0 ,0, 0, 0.2);
}

.shelf {
    position:relative;
    bottom: 0px;
    background-color: #949494;
    width: 100%;
}

.main-table {
    position: relative;
    width:100%;
}
